{{!
    backup/moodle2/backup_settings.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Plugin custom settings are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{$ extratags }}
 * @category    backup
{{/extratags}}
{{/ common/boilerplate_php }}

// For further information about the backup and restore process, please visit:
// https://docs.moodle.org/dev/Backup_2.0_for_developers
// https://docs.moodle.org/dev/Restore_2.0_for_developers
