{{!
    backup/moodle2/backup_<modname>_settingslib.php

    * component
    * copyright
}}
{{< common/backup_php }}
{{$ description }}Plugin custom settings are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/backup_php }}
