{{!
    backup/moodle2/restore_<modname>_stepslib.php

    * component
    * copyright
}}
{{< common/restore_php }}
{{$ description }}All the steps to restore {{ component }} are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/restore_php }}

/**
 * Defines the structure step to restore one {{ component }} activity.
 */
class restore_{{ component_name }}_activity_structure_step extends restore_activity_structure_step {

    /**
     * Defines the structure to be restored.
     *
     * @return restore_path_element[].
     */
    protected function define_structure() {
        $paths = array();
        $userinfo = $this->get_setting_value('userinfo');

        {{# mod_features.backup_moodle2.restore_elements }}
        $paths[] = new restore_path_element('{{ .name }}', '{{ .path }}');
        {{/ mod_features.backup_moodle2.restore_elements}}

        return $this->prepare_activity_structure($paths);
    }
    {{# mod_features.backup_moodle2.restore_elements}}

    /**
     * Processes the {{ .name }} restore data.
     *
     * @param array $data Parsed element data.
     */
    protected function process_{{ .name }}($data) {
        return;
    }
    {{/ mod_features.backup_moodle2.restore_elements}}

    /**
     * Defines post-execution actions.
     */
    protected function after_execute() {
        return;
    }
}
