{{!
    yui/src/button/build.json

    * component
}}
{
    "name": "moodle-{{ component }}-button",
    "builds": {
        "moodle-{{ component }}-button": {
            "jsfiles": [
                "button.js"
            ]
        }
    }
}
