{{!
    backup/moodle2/backup_<blockname>_stepslib.php

    * component
    * copyright
}}
{{< common/backup_php }}
{{$ description }}Backup steps for {{ component }} are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/backup_php }}

/**
 * Define the complete structure for backup, with file and id annotations.
 */
class backup_{{ component_name }}_block_structure_step extends backup_block_structure_step {

    /**
     * Defines the structure of the resulting xml file.
     *
     * @return backup_nested_element The structure wrapped in the block tag.
     */
    protected function define_structure() {
        global $DB;

        // Replace with the attributes and final elements that the element will handle.
        $attributes = null;
        $finalelements = null;
        $root = new backup_nested_element('{{ component }}', $attributes, $finalelements);
        {{# block_features.backup_moodle2.backup_elements}}

        // Replace with the attributes and final elements that the element will handle.
        $attributes = null;
        $finalelements = null;
        ${{ .name }} = new backup_nested_element('{{ .name }}', $attributes, $finalelements);
        {{/ block_features.backup_moodle2.backup_elements}}

        // Build the tree with these elements with $root as the root of the backup tree.

        // Define the source tables for the elements.

        // Define id annotations.

        // Define file annotations.

        return $this->prepare_block_structure($root);
    }
}
