{{!
    backup/moodle2/restore_<blockname>_stepslib.php

    * component
    * copyright
}}
{{< common/restore_php }}
{{$ description }}All the steps to restore {{ component }} are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/restore_php }}

/**
 * Defines the structure step to restore one {{ component_name }} block.
 */
class restore_{{ component_name }}_block_structure_step extends restore_structure_step {

    /**
     * Defines the structure to be restored.
     */
    protected function define_structure() {

        $paths = array();

        {{# backup_moodle2.restore_elements }}
        $paths[] = new restore_path_element('{{ .name }}', '{{ .path }}');
        {{/ backup_moodle2.restore_elements}}

        return $paths;
    }
    {{# backup_moodle2.restore_elements}}

    /**
     * Processes the {{ .name }} restore data.
     */
    protected function process_{{ .name }}($data) {
        global $DB;

        return $data;
    }
    {{/ backup_moodle2.restore_elements}}

    /**
     * Defines post-execution actions.
     */
    protected function after_execute() {

        return;
    }
}
