{{!
    styles/<filename>.css
}}
/**
 * Please keep in mind that since Moodle 2.0 all of the CSS for the whole of
 * combined into one file, stripped of white spaces, then delivered.
 *
 * Please visit the CSS coding style page:
 * https://docs.moodle.org/dev/CSS_coding_style
 */
