{{!
    Common file for the backup/moodle2/backup_*.php files.

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ extratags }}
 * @category    backup
{{/extratags}}
{{/ common/boilerplate_php }}

// For more information about the backup and restore process, please visit:
// https://docs.moodle.org/dev/Backup_2.0_for_developers
// https://docs.moodle.org/dev/Restore_2.0_for_developers
