{{!
    Common file for the backup/moodle2/backup_*.php files.

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ extratags }}
 * @category    backup
{{/extratags}}
{{/ common/boilerplate_php }}

// More information about the backup process: {@link https://docs.moodle.org/dev/Backup_API}.
// More information about the restore process: {@link https://docs.moodle.org/dev/Restore_API}.
