{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template common/boilerplate_php

    Common heading boilerplate of PHP files.

    Context variables required for this template:
    * description - one line description of the file purpose
    * component - plugin component name
    * copyright - copyright holder(s)
    * modulename - The file name of this module

    Example context (json):
    {
        "component": "local_test",
        "copyright": "2022 Andrew Lyons <andrew@nicols.co.uk>"
    }
}}
// This file is part of Moodle - https://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <https://www.gnu.org/licenses/>.

/**
 * {{$ description }}TO-DO Provide a one-line description of this ESM{{/ description }}
 *
 * @module      {{$ package }}plugintype_pluginname{{/ package }}/{{$ modulename }}modulename{{/ modulename }}
 * @copyright   {{$ copyright }}2022 Your Name <your.email@example.com>{{/ copyright}}
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
