<?xml version="1.0" encoding="UTF-8" ?>
<XMLDB PATH="{{ xmldb_path }}" VERSION="{{ xmldb_version }}" COMMENT="XMLDB file for Moodle {{ component }}"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../../lib/xmldb/xmldb.xsd"
>
  <TABLES>
{{$ tables }}{{/ tables }}
  </TABLES>
</XMLDB>