{{!
    lib.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Library of interface functions and constants.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_php }}
