{{!
    PHPDoc block for a file, class, interface or trait.

    * description - one line description of the purpose
    * package - plugin component name
    * extratags - additional phpdoc tags, e.g. subpackage or category
    * copyright - copyright holder(s)
}}
/**
 * {{$ description }}TODO provide a short description of the unit.{{/ description }}
 *
 * @package     {{$ package }}plugintype_pluginname{{/ package }}
{{$ extratags }}{{/ extratags }}
 * @copyright   {{$ copyright }}2016 Your Name <your.email@example.com>{{/ copyright}}
 * @license     https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
