{{!
    settings.php

    * component
    * copyright
    * event
}}
{{< common/boilerplate_php }}
{{$ description }}The {{ event.eventname }} event class.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ extratags }}
 * @category    event
{{/extratags}}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{$ namespace }}namespace {{ component_type }}_{{ component_name }}\event;{{/ namespace }}
{{/ common/boilerplate_php }}
class {{ event.eventname }} extends {{{ event.extends }}} {

    // For more information about the Events API please visit {@link https://docs.moodle.org/dev/Events_API}.
}
