{{!
    db/events.php

    * component
    * copyright
    * observers
}}
{{< common/boilerplate_php }}
{{$ description }}Plugin event observers are registered here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ extratags }}
 * @category    event
{{/ extratags }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_php }}

$observers = array(
    {{# observers }}

    array(
        'eventname' => '{{{ .eventname }}}',
        'callback' => '{{{ .callback }}}',
        {{# .includefile }}
        'includefile' => '{{ . }}',
        {{/ .includefile }}
        {{# .priority }}
        'priority' => {{ . }},
        {{/ .priority }}
        {{# .has_internal }}
        {{# internal }}
        'internal' => true,
        {{/ internal }}
        {{^ internal }}
        'internal' => false,
        {{/ internal }}
        {{/ .has_internal }}
    ),
    {{/ observers }}
);
