{{!
    db/install.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Code to be executed after the plugin's database scheme has been installed is defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ extratags }}
 * @category    upgrade
{{/ extratags }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_php }}

/**
 * Custom code to be run on installing the plugin.
 */
function xmldb_{{^ component_type_is_mod }}{{ component_type }}_{{/ component_type_is_mod }}{{ component_name }}_install() {

    return true;
}
