{{!
    settings.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Plugin upgrade helper functions are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_php }}

/**
 * Helper function used by the upgrade.php file.
 */
function {{component}}_helper_function() {
    global $DB;

    // Please note that you should always be performing any task using raw (low
    // level) database access exclusively, avoiding any use of the Moodle APIs.
    //
    // For more information please read the available Moodle documentation:
    // https://docs.moodle.org/dev/Upgrade_API
}
