{{!
    settings.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Plugin upgrade helper functions are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ extratags }}
 * @category    upgrade
{{/ extratags }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_php }}

/**
 * Helper function used by the upgrade.php file.
 */
function {{ component }}_helper_function() {
    global $DB;

    // Please note: you can only use raw low level database access here.
    // Avoid Moodle API calls in upgrade steps.
    //
    // For more information please read {@link https://docs.moodle.org/dev/Upgrade_API}.
}
