{{!
    locallib.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Plugin internal classes, functions and constants are defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_php }}
{{# locallib.functions }}

/**
 * Description of the function.
 *
 * @param type $param Description of parameter.
 */
function {{ . }}($param) {
    return;
}
{{/ locallib.functions }}
