{{!
    tests/<classname>_test.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}The {{ self.classname }} test class.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{$ extratags }}
 * @category    test
{{/extratags}}
{{/ common/boilerplate_php }}
class {{ component }}_{{ self.classname }}_testcase extends advanced_testcase {

    // Write the tests here as public funcions.
    // Please refer to {@link https://docs.moodle.org/dev/PHPUnit} for more details on PHPUnit tests in Moodle.
}
