{{!
    db/uninstall.php

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Code that is executed before the tables and data are dropped during the plugin uninstallation.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_php }}

/**
 * Custom uninstallation procedure.
 */
function xmldb_{{component}}_uninstall() {

    return true;
}
