{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template file/tiny/commands_js

    AMD amd/src/commands.js file.

    Context variables required for this template:
    * component
    * copyright

    Example context (json):
    {
        "component": "tiny_example",
        "copyright": "2022 Andrew Lyons <andrew@nicols.co.uk>"
    }
}}
{{< common/boilerplate_amd_js }}
    {{$ description }}Common values helper for the Moodle {{ component }} plugin.{{/ description }}
    {{$ modulename }}common{{/ modulename }}
    {{$ package }}{{ component }}{{/ package }}
    {{$ copyright }}{{ copyright }}{{/ copyright }}
{{/ common/boilerplate_amd_js }}

const component = '{{component}}';

export default {
    component,
    pluginName: `${component}/plugin`,
{{# self.defines_commands }}
{{# self.defines_buttons }}
    icon: component,
{{/ self.defines_buttons }}
{{# self.commandnames }}
    {{commandName}}: `${component}_{{name}}`,
{{/ self.commandnames }}
{{/ self.defines_commands }}
};
