{{!
    Contenttype content class.

    * component
    * copyright
}}
{{< common/boilerplate_php }}
{{$ description }}Content type {{ component_name }} is defined here.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{$ namespace }}
namespace {{ component }};
{{/ namespace }}
{{/ common/boilerplate_php }}
class content extends \core_contentbank\content {

}
